.card {
    width: 300px;
    /* Increased card width */
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    /* Use flexbox to control image and content layout */
    flex-direction: column;
    /* Stack image and content vertically */
    transition: transform 0.2s, box-shadow 0.2s;
    /* Added transition for smooth hover effect */
}

.card:hover {
    transform: scale(1.02);
    /* Enlarge card on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Add a stronger shadow on hover */
}

.card-image {
    flex: 1;
    /* Let the image portion take equal height */
    overflow: hidden;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-content {
    padding: 20px;
}


p {
    margin: 10px 0;
    font-size: 16px;
    color: #777;
}